/* About Us Section */
.about_section {
    padding: 25px 10px;
    background-color: #f0f0f0;
    text-align: center;
    color: #333;
    border-top: 5px solid #4CAF50; /* Top border for emphasis */
}

.about_content {
    max-width: 900px;
    margin: 0 auto;
}

.about_section h2 {
    font-size: 35px;
    margin-top: 40px;
    margin-bottom: 25px;
    color: #4CAF50; 
    font-weight: bold;
}

.about_section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #555;
}

.mission{
    background-color: white; 
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease;
}
.mission:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
}

@media (max-width: 500px) {
    .about_section p {
        font-size: 15px;
        line-height: 1.5;
    }
    .about_content {
        padding: 0 10px;
    }
    .about_section h2 {
        font-size: 25px;
    }
}
